# Hypothesis Test of the Means:

some points to keep in mind about p-value and hypothesis testing in general: 

• **The interpretation of the p-value :** 

it represents the prob of having a sample mean greater then the null value of H0 or, from  n random samples, given that the H0 is true  ( a conditionned probability ) 
In other words 
        P-value = P(extreme events in favor to alternative hypothesis  | H0 is true ) 



• High P-values: Your sample results are consistent with a true null hypothesis. <br>
• Low P-values: Your sample results are not consistent with a null hypothesis. <br>

• The significance level, also denoted as alpha or α, is the probability of rejecting the null  hypothesis when it is true


• Type 1 error : reject the H0 when the latter is true <br>
• Type 2 error : accept the H0 when the latter is false , in other words , we keep the H0 when we shouldn't <br>


• Type 1 error expressed with propability : 
  P-value = P(typ1 error |H0 is true ) = alpha 
  Increasing alpha -> increase error rate of making a type I error rate!



• **Goal of Increasing alpha (increase type 1 error) :** when we don't  want to fail to reject the H0 when the latter is false <br>
• **Goal of reducing alpha :** when we want to reject the H0 ONLY if we have STRONG evidence  favoring the Ha.

## One sample t-test:

In [1]:
import numpy as np
import scipy.stats as st

**Two-side test**

Question 1 : the goal of this exercice is to simulate one sample x with normal distribution

- step 1 : create n=10 random values using `np.random.randn` , note that this instruction returns z scores of standard normal
- step 2 : do the inverse transform to get x from these z scores using mu=3 and sigma=2 ( hint : use the forumla of z score ) and store the result in variable x
$\begin{equation}
 z= \frac{x-\mu}{\sigma}
\end{equation}$


- step 3 : we wish to test if the null hypothesis with a **two-side alternative hypothesis** , run the following and interpret the result , knowing that mu_0 is the mean of the null hypothesis 

``` 
mu_0 = 0
st.ttest_1samp(x, mu_0)

```

- step 4 : forumate the associated null hypothesis $H_{0}$ and alternative hypothesis $H_{a}$

In [2]:
#don't delete this line 
np.random.seed(1234)
n = 10
z = np.random.randn(n)

mu,sigma = 3,2
x = z*(sigma) + mu

#3
mu_0 = 0
ttest, p_value = st.ttest_1samp(x, mu_0)
print("P-value = %.3f" % (p_value))

#4
# H0: mean of the population is mu_0
# Ha: mean of population is different than mu_0
# 95% confidence
# alpha = 5%

alpha = 0.05
if p_value < alpha/2:
    print("We are rejecting the null hypothesis")
else:
    print("We are accepting the null hypothesis")

P-value = 0.004
We are rejecting the null hypothesis

Question 2 : now that you know how to use `st.ttest_1samp` , use the forumlas that you learnt during the course to get the same results , here's the step to follow : 

- step 1 : calculate the `mean` and the `standard error` $SE$ 
- step 2 : calculate the t-score using the following forumla :


$\begin{equation}
  t = \frac{x-\bar{x} }{ \frac{S}{\sqrt{n} } }
\end{equation}$

- step 3 : calculate the probability of `p-value` using `st.t.cdf` , remember that p-value = $2*P(X>tscore)$

In [3]:
mean = x.mean()
SE = x.std(ddof=1)/np.sqrt(n)

def ttest_onesample(mu_0, alternative="two-side"):
    t = (mean - mu_0)/(SE)
    
    # Left tail  
    if alternative == "greater":
        p_value = 1-st.t.cdf(t, df=n-1)
        significance_level = alpha
    
    # Right tail  
    elif alternative == "less":
        p_value = st.t.cdf(t, df=n-1)
        significance_level = alpha
    
    # Two-side tail  
    else:
        p_value = 2*(1-st.t.cdf(t, df=n-1))
        significance_level = alpha/2


    print("P-value = %.6f" % (p_value))
    if p_value < significance_level:
        print("We are rejecting the null hypothesis")
    else:
        print("We are accepting the null hypothesis")

mu_0 = 0
ttest_onesample(mu_0)

P-value = 0.003799
We are rejecting the null hypothesis

Question 3: same as the above but with `mu_0 = 1` , `mu_0 = 2`

In [4]:
mu_0 = 1
ttest_onesample(mu_0)

P-value = 0.037230
We are accepting the null hypothesis

In [5]:
mu_0 = 2
ttest_onesample(mu_0)

P-value = 0.336067
We are accepting the null hypothesis

**right-tail test**

Question 4 : everything remain the same , except that the p-value is calculated differently , since : 

 p-value = $P(X>tscore)$ 


calculate the p-value with mu_0= 0 , mu_0= 1 , mu_0= 2

In [6]:
mu_0 = 0
ttest_onesample(mu_0, "greater")

P-value = 0.001900
We are rejecting the null hypothesis

In [7]:
mu_0 = 1
ttest_onesample(mu_0, "greater")

P-value = 0.018615
We are rejecting the null hypothesis

In [8]:
mu_0 = 2
ttest_onesample(mu_0, "greater")

P-value = 0.168034
We are accepting the null hypothesis

**left-tail test**

Question 5 : everything remain the same , except that the p-value is calculated differently , since : 

 p-value = $P(X<tscore)$ 


calculate the p-value with mu_0= 0 , mu_0= 1 , mu_0= 2

In [9]:
mu_0 = 0
ttest_onesample(mu_0, "less")

P-value = 0.998100
We are accepting the null hypothesis

In [10]:
mu_0 = 1
ttest_onesample(mu_0, "less")

P-value = 0.981385
We are accepting the null hypothesis

In [11]:
mu_0 = 2
ttest_onesample(mu_0, "less")

P-value = 0.831966
We are accepting the null hypothesis

## independent two sample t-test

Question 6 : just like you created your samples in the first question , follow the same steps in order to create x1 and x2 that have the following propreties :

x1 (sample 1 ) : n1 = 10 , mu1 = 3 , sigma1 = 2

x2 (sample 2) :  n2 = 20 , mu2 = 5 , sigma2 = 3

In [12]:
#make sure to name your variables x1 and x2
n1, mu1, sigma1 = 1000, 3, 2
n2, mu2, sigma2 = 2000, 5, 3

np.random.seed(2014)
z1 = np.random.randn(n1)
x1 = z1*sigma1 + mu1

np.random.seed(2301)
z2 = np.random.randn(n2)
x2 = z2*sigma2 + mu2

Question 7 : run the following and interpret the results :

In [13]:
st.ttest_ind(x1,x2,equal_var=False)

Ttest_indResult(statistic=-19.507360436466392, pvalue=1.810369707281499e-79)

- **H0:** x1 and x2 have different variances <br>
- **Ha:** x1 and x2 have equal variances <br>
since <i>pvalue = 0.00136 < 0.05</i>, it means that the two sets (X1 and X2) have equal variances, thus we reject the null hypothesis

Question 8 : calculate x1_mean , x2_mean  , s1 (unbiased standard deviation) , s2 of the two samples x1 and x2

In [14]:
x1_mean = x1.mean()
x2_mean = x2.mean()
s1 = x1.std(ddof=1)
s2 = x2.std(ddof=1)

Question 9 : run the function using the descriptive statistics optained in the previous question using  `st.ttest_ind_from_stats ` (i invite you to read the documentation first  ) , also make sure to set `equal_var=False`

In [15]:
st.ttest_ind_from_stats(x1_mean, s1, n1, x2_mean, s2, n2, equal_var=False)

Ttest_indResult(statistic=-19.507360436466392, pvalue=1.810369707281499e-79)

This last function gives the same results as the previous function, but instead, its calculations are based on statistics of the two samples.

## Paired two sample t-test

Question 10 : Simulate two samples of size **n=10** with Normal distribution. to do so : 

- step 1 : create x1 using the same method as described in question1 with mu=3 , sigma=2
- step 2 : create a "noisy" distribution derived from x1 using the following formula : 
                    x2 = x1 + np.random.randn(n) + 1
                    
(Notice that the x2 is created by adding some 'noise' to the x1)

So,'one to one' relation is established.

In [16]:
np.random.seed(3488)
n, mu, sigma = 1500, 3, 2
z = np.random.randn(n)
x1 = z*sigma + mu

x2 = x1 + np.random.randn(n) + 1

Question 11 : 
run the following line and interpret the results

In [17]:
# Two tail test.
st.ttest_rel(x1,x2)

Ttest_relResult(statistic=-38.49121333094517, pvalue=5.508829366761407e-226)

<h3>Two Tail Test</h3>
H0: x1 and x2 have the same sample average<br>
Ha: x1 and x2 have differenc sample averages

- alpha = 0.05 <br>
- pvalue = 5.508829366761407e-226 <br>
- pvalue < alpha = True

We accept the alternative hypothesis and reject the null one.<br>
<b>Conclusion:</b> x1 and x2 have different sample averages

Question 12 : Compare with the indepdent two sample t-test on the same dataset.

In [18]:
st.ttest_ind(x1,x2,equal_var=False)

Ttest_indResult(statistic=-12.86109781725579, pvalue=7.079952843421665e-37)

<h2>Two Tail Test</h2>
H0: the independent variables x1 and x2 have the identical average <br>
Ha: the independent variables x1 and x2 have different averages

- alpha = 0.05 <br>
- pvalue = 7.079952843421665e-37 <br>
- pvalue < alpha = False

Thus we reject the <u>null hypothesis</u> <br>
<b>Conclusion:</b> x1 and x2 different averages.

## ANOVA

There are three groups of students. The data corresponds to the test scores. Determine whether there is any significant difference in the group test scores.

In [19]:
# Data.
x1 = np.array([82,93,61,74,69,70,53])
x2 = np.array([71,62,85,94,78,66,71])
x3 = np.array([64,73,87,91,56,78,87])

In [20]:
# Using the f_onway() function from the SciPy library.
res=st.f_oneway(x1,x2,x3)
print("Test statistic  : %f " % res[0] )
print("p-value         : %f " % res[1] )

Test statistic  : 0.283726
p-value         : 0.756278

- alpha = 0.05
- p-value = 0.75
- p-value < alpha = False => Accept H0 which states that <u>all groups have the same population mean</u>.

**Conclusion:** all three groups have equal population means.

# Summarizing categorical variables:

In [21]:
import pandas as pd
df = pd.read_csv('data_studentlist.csv', header='infer',encoding = 'latin1')

## Frequency table (One way table):

In [22]:
# Categorical variables.
bloodType = df['bloodtype']
gender = df['gender']

get the frequency table of bloodtype

In [23]:
bloodType_freq = bloodType.groupby(bloodType).count()
bloodType_freq

bloodtype
A     4
AB    3
B     5
O     5
Name: bloodtype, dtype: int64

get the frequency table of gender

In [24]:
gender_freq = gender.groupby(gender).count()
gender_freq

gender
F     7
M    10
Name: gender, dtype: int64

get the normalized frequency table of bloodtype

In [25]:
from sklearn.preprocessing import normalize

bloodType_freq_normalized = pd.Series(
    data=normalize(np.array(bloodType_freq).reshape(1,-1))[0],
    index=bloodType_freq.index,
    name=bloodType_freq.name
    )

bloodType_freq_normalized

bloodtype
A     0.46188
AB    0.34641
B     0.57735
O     0.57735
Name: bloodtype, dtype: float64

same as the above for gender

In [26]:
gender_freq_normalized = pd.Series(
    data=normalize(np.array(gender_freq).reshape(1,-1))[0],
    index=gender_freq.index,
    name=gender_freq.name
    )

gender_freq_normalized

gender
F    0.573462
M    0.819232
Name: gender, dtype: float64

##  Contingency table (Two way table):

get the Contingency table using `pd.crosstab`

In [27]:
pd.crosstab(bloodType, gender)

gender     F  M
bloodtype
A          2  2
AB         1  2
B          1  4
O          3  2

in order to get Contingency table with marginalization , set the parameter `margins=True`

In [28]:
pd.crosstab(bloodType, gender, margins=True)

gender     F   M  All
bloodtype
A          2   2    4
AB         1   2    3
B          1   4    5
O          3   2    5
All        7  10   17

# Hypothesis Test of proportions:

## Chi-squared Tests:

###  For one way table

Suppose we have a frequency table of *eye color* of 592 adults. <br>
Let us carry out the Chi-squared tests.

In [29]:
# Data.
data = np.array([220, 215, 93,64])

- step 1  : create a series with data , and set the table `['Brown','Blue','Hazel','Green']` as index

In [30]:
index = ['Brown','Blue','Hazel','Green']
eye = pd.Series(data=data, index=index, name="frequency")
eye

Brown    220
Blue     215
Hazel     93
Green     64
Name: frequency, dtype: int32

Question 13 : create a Table of proportions. to do so , divide your series by the sum of the frequencies

In [31]:
proportionsTable = eye/np.sum(eye)
proportionsTable

Brown    0.371622
Blue     0.363176
Hazel    0.157095
Green    0.108108
Name: frequency, dtype: float64

Question 14 : Compare with the default model of equal frequencies. ( in other words , calculate the chisquare of your series using `st.chisquare`)

In [32]:
st.chisquare(proportionsTable)

Power_divergenceResult(statistic=0.22546110299488673, pvalue=0.9733779718261075)

Question 15 : the following is a model provided by the user that tries to approximate the frequencies

In [33]:
my_model = len(eye)*[np.mean(eye)]
my_model

[148.0, 148.0, 148.0, 148.0]

run the following and describe the result :

In [34]:
st.chisquare(f_obs=eye,f_exp = my_model)

Power_divergenceResult(statistic=133.47297297297297, pvalue=9.650879774148268e-29)

Providing that the model we are comparing to is filled with the observed frequencies mean and the sum of the model's frequencies is larger than the sum of observed frequencies, p-value is smaller than 0.05.

let's test with a more realistic model :

In [35]:
my_model = eye.sum()*np.array([0.40,0.33,0.15,0.12])
# my_model = np.array([200, 200, 100, 92])
my_model

array([236.8 , 195.36,  88.8 ,  71.04])

run the following and describe the result. what do you conlcude about the two proposed models ?

In [36]:
st.chisquare(f_obs=eye,f_exp = my_model)

Power_divergenceResult(statistic=4.06265356265356, pvalue=0.25477767063672113)

The provided model contains proportions from the sum of observed data, which sum up to the total number of frequencies. Compared to the observed values, it gave a p-value way greater than 5%.

**Conclusion:** the observed frequency table and the expected model agree even if the model contained values relatively close to the observed frequencies and sum up to the sum of the observed frequencies.

##  For two way table:

Suppose we have a contingency table of *eye color* vs *hair color* of 592 adults. <br>
Let us carry out the Chi-squared test for independence.

In [37]:
# Data.
# Row label    = hair color.
# Column label = eye color. 
data_eye = {'Brown': [68,119,26,7], 'Blue':[20,84,17,94], 'Hazel':[15,54,14,10], 'Green':[5, 29, 14,16]}
data = pd.DataFrame(data_eye,index=['Black','Brown','Red','Blonde'])
data.index.name = "Hair_Color"
data.columns.name = "Eye_Color"
data

Eye_Color   Brown  Blue  Hazel  Green
Hair_Color
Black          68    20     15      5
Brown         119    84     54     29
Red            26    17     14     14
Blonde          7    94     10     16

run the following to get Chi-square test of independence of variables in a contingency table. what do you conclude about the relationship between these two categorical variables ?

In [38]:
# Function Returns:
# Test Statistic, p-value, dof, exepcted frequencies based on the marginal sums of table
st.chi2_contingency(data)

(138.28984162600824,
 2.325286787098839e-25,
 9,
 array([[ 40.13513514,  39.22297297,  16.96621622,  11.67567568],
        [106.28378378, 103.86824324,  44.92905405,  30.91891892],
        [ 26.38513514,  25.78547297,  11.15371622,   7.67567568],
        [ 47.19594595,  46.12331081,  19.95101351,  13.72972973]]))

Given that the <i>p-value < 0.025</i>, we reject the null hypothesis which state that <u>Hair color</u> and <u>Eye Color</u> are **independent**, thus, we conclude that **the two variables are dependent.**

Suppose we have a contingency table of the room class vs survived from RMS Titanic.
Let us carry out the Chi-squared test for independence.

In [39]:
# Data.
# Row label    = room class.
# Column label = survived. 
data_survived = {'Yes':[122, 167, 528, 673], 'No':[203,118,178,212]}
data = pd.DataFrame(data_survived,index=['1st','2nd','3rd','Crew'])
data.index.name = "Room_Class"
data.columns.name = "Survived"
data

Survived    Yes   No
Room_Class
1st         122  203
2nd         167  118
3rd         528  178
Crew        673  212

run the following to get Chi-square test of independence of variables in a contingency table. what do you conclude about the relationship between these two categorical variables ?

In [40]:
st.chi2_contingency(data)

(190.40110361683327,
 4.999927529868003e-41,
 3,
 array([[220.01363017, 104.98636983],
        [192.93502953,  92.06497047],
        [477.93730123, 228.06269877],
        [599.11403907, 285.88596093]]))

- H0: Room Class and the Survival of titanic passengers are independent.
- Ha: Room Class and Survival are dependent on each other.<br>
We notice that the <i>p-value < 0.025</i>. In this case, we reject the null hypothesis and accept the alternative one.<br>
**Conclusion:** the two variables are dependent.